body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #f5f5dc;
  height: 100%;
}
* {
  box-sizing: border-box;
}

header {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: absolute;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
}

nav .logo img {
  height: 100px;
  width: auto;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #a52a2a;
  border-radius: 20px;
  font-weight: bold;
}

.main-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header h1 {
  font-size: 2.4em;
}

.main-header p {
  font-size: 1.2em;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.search-form input, .search-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-form button {
  background-color: #cc3333;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 600px) {
  nav, .main-header, .search-form {
    flex-direction: column;
  }

  .search-form input, .search-form button {
    width: 90%;
  }
}
