body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f5f5dc;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
}
body {
    padding-top: 160px;
}
* {
    box-sizing: border-box;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    width: 340px;
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a52a2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #b54040;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #a52a2a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
nav {
    background: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 1000;
}
nav .logo img {
    height: 100px;
    width: auto;
}

nav .logo a {
    display: inline-block;
    padding: 5px;
}

.menu {
    display: flex;  /* Align children (links) in a row */
    justify-content: center; /* Center the links */
    gap: 20px;  /* Space between links */
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #a52a2a;
    border-radius: 20px;
    font-weight: bold;
}

.content {
    font-size: 24px; /* Example size, adjust as needed */
    color: #333; /* Dark color for visibility */
    text-align: center; /* Center alignment for headers */
    margin-top: 20px; /* Top margin */
    margin-bottom: 10px; /* Space below the header */
    padding: 0 20px; /* Adds padding to the sides */
    margin: 0 auto; /* Centers the content and maintains margins from the sides */
    max-width: 1200px; /* You can adjust this value based on your design preference */
  }
  
  .content p {
    font-size: 16px; /* Ensuring text is easily readable */
    line-height: 1.6; /* Adequate line spacing for readability */
    text-align: justify; /* Justify alignment for cleaner presentation */
    margin-bottom: 15px; /* Uniform spacing below paragraphs */
  }